<section class="signing__page">
    <mat-card>
        <mat-card-title> Login into your account</mat-card-title>
        <mat-card-content>
            <form class="signing__page-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
                <app-sigin-form></app-sigin-form>
                <button class="btn-submit" type="submit" mat-raised-button color="primary">Submit</button>
                <div class="signing__page-actions">
                    <mat-checkbox>Remember me</mat-checkbox>
                    <button type="button" mat-button color="primary" (click)="navigateToReset()">
                        Forgot password?
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</section>
