<div class="form-group">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" />
        <mat-error *ngIf="email?.touched && email?.invalid">
            <small *ngIf="email?.errors?.['required']">Email is required</small>
            <small *ngIf="email?.errors?.['email']">Enter a valid email</small>
        </mat-error>
    </mat-form-field>
</div>

<div class="form-group">
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error class="error" *ngIf="password?.touched && password?.invalid">
            <small *ngIf="password?.errors?.['required']">Password is required</small>
            <small *ngIf="password?.errors?.['minlength']"> Minimum 6 characters required </small>
        </mat-error>
    </mat-form-field>
</div>
