.app {
    height: 100vh;
    overflow-y: scroll;
}

mat-sidenav {
    height: 100vh;
    width: 220px;
}

mat-list {
    padding: 0;
    mat-list-item {
        cursor: pointer;
    }
}

.flex-row {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}
